body{
    background-color: #f5f6f7;
}


.description{
    margin:-20px 5px -10px 5px;
    padding: 0 7vw;
    color:#2b2b81;
    font-family: 'Oswald', sans-serif;
    word-spacing: 2px;
    letter-spacing: 1px;
}

.description h1{
    margin-top: 13px;
    margin-bottom: -5px;
    font-size: 2.5em;   
}

.description h3{
    margin-top: 15px;
    font-size: 1.3em;
    margin-bottom: 2px;
}

input{
    font-size: 1.3em;
}


.card {
    margin: 10px;
    box-sizing: border-box;
    width: 85vw;
    margin:15px auto;
    height: 75vh;
    border:2vw solid #2b2b81;
    background-color: #2b2b81;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Lora', sans-serif;
    font-size: small;
}

.vaccine {
    background-color: #f5f6f7;
    padding: 0;
    margin: .1%;
    width: 10.9%;
    height: 32.8%;
}

.vaccine h4{
    font-size: .6rem;
    margin:8px;
    text-align: center;
    text-decoration: none;
}

.vaccine p{
    display: flex;
    flex-direction: column;
    margin:3px;
    padding: 3px;
    text-align: center;
    font-size:0.6rem;
}

.vaccine img{
    align-self: center;
    height:7.5vh;
}


@media (max-width: 1025px){

    .card{
        height:1200px;
    }
    .vaccine{
        width:32.6%;
        height: 10.7%;
        margin: .33%;
    }

    h4{
        font-size: 0.7em;
    }

    .description h1{
        font-size: 1.7em;
    }

    .description h3, input{
        font-size: 1em;
    }

    .vaccine p{
        margin-top: 0;
        font-size: .9em;
    }

   /*  .vaccine img{
        width:50%;
    } */

}

@media(max-width:541px){
    .vaccine p, h4{
        font-size: 0.6em;
    }
}

   